.card-layout-one-box,
.card-layout-two-boxes-v,
.card-layout-two-boxes-h,
.card-layout-one-box-bh-two-boxes-th,
.card-layout-one-box-th-two-boxes-bh,
.card-layout-one-box-lv-two-boxes-rv,
.card-layout-one-box-rv-two-boxes-lv,
.card-layout-four-boxes {
    display: grid;
    gap: 1rem;
}

.card-layout-one-box *,
.card-layout-two-boxes-v *,
.card-layout-two-boxes-h *,
.card-layout-one-box-bh-two-boxes-th *,
.card-layout-one-box-th-two-boxes-bh *,
.card-layout-one-box-lv-two-boxes-rv *,
.card-layout-one-box-rv-two-boxes-lv *,
.card-layout-four-boxes * {
    display: none;
}

.card-layout-one-box *:first-child,

.card-layout-two-boxes-v *:nth-child(1),
.card-layout-two-boxes-v *:nth-child(2),

.card-layout-two-boxes-h *:nth-child(1),
.card-layout-two-boxes-h *:nth-child(2),

.card-layout-one-box-bh-two-boxes-th *:nth-child(1),
.card-layout-one-box-bh-two-boxes-th *:nth-child(2),
.card-layout-one-box-bh-two-boxes-th *:nth-child(3),

.card-layout-one-box-th-two-boxes-bh *:nth-child(1),
.card-layout-one-box-th-two-boxes-bh *:nth-child(2),
.card-layout-one-box-th-two-boxes-bh *:nth-child(3),

.card-layout-one-box-lv-two-boxes-rv *:nth-child(1),
.card-layout-one-box-lv-two-boxes-rv *:nth-child(2),
.card-layout-one-box-lv-two-boxes-rv *:nth-child(3),

.card-layout-one-box-rv-two-boxes-lv *:nth-child(1),
.card-layout-one-box-rv-two-boxes-lv *:nth-child(2),
.card-layout-one-box-rv-two-boxes-lv *:nth-child(3),

.card-layout-four-boxes *:nth-child(1),
.card-layout-four-boxes *:nth-child(2),
.card-layout-four-boxes *:nth-child(3),
.card-layout-four-boxes *:nth-child(4)
{
    display: flex;
}

.card-layout-two-boxes-h *:nth-child(1),
.card-layout-two-boxes-h *:nth-child(2),

.card-layout-one-box-bh-two-boxes-th *:nth-child(1),
.card-layout-one-box-bh-two-boxes-th *:nth-child(2),
.card-layout-one-box-bh-two-boxes-th *:nth-child(3),

.card-layout-one-box-th-two-boxes-bh *:nth-child(1),
.card-layout-one-box-th-two-boxes-bh *:nth-child(2),
.card-layout-one-box-th-two-boxes-bh *:nth-child(3),

.card-layout-one-box-lv-two-boxes-rv *:nth-child(2),
.card-layout-one-box-lv-two-boxes-rv *:nth-child(3),

.card-layout-one-box-rv-two-boxes-lv *:nth-child(1),
.card-layout-one-box-rv-two-boxes-lv *:nth-child(3),

.card-layout-four-boxes *:nth-child(1),
.card-layout-four-boxes *:nth-child(2),
.card-layout-four-boxes *:nth-child(3),
.card-layout-four-boxes *:nth-child(4)
{
    
}

.card-layout-two-boxes-v *:nth-child(1),
.card-layout-two-boxes-v *:nth-child(2),

.card-layout-one-box-bh-two-boxes-th *:nth-child(1),
.card-layout-one-box-bh-two-boxes-th *:nth-child(2),

.card-layout-one-box-th-two-boxes-bh *:nth-child(2),
.card-layout-one-box-th-two-boxes-bh *:nth-child(3),

.card-layout-one-box-lv-two-boxes-rv *:nth-child(1),
.card-layout-one-box-lv-two-boxes-rv *:nth-child(2),
.card-layout-one-box-lv-two-boxes-rv *:nth-child(3),

.card-layout-one-box-rv-two-boxes-lv *:nth-child(1),
.card-layout-one-box-rv-two-boxes-lv *:nth-child(2),
.card-layout-one-box-rv-two-boxes-lv *:nth-child(3),

.card-layout-four-boxes *:nth-child(1),
.card-layout-four-boxes *:nth-child(2),
.card-layout-four-boxes *:nth-child(3),
.card-layout-four-boxes *:nth-child(4)
{
    
}

.card-layout-one-box {
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.card-layout-two-boxes-v {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.card-layout-two-boxes-h {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

.card-layout-one-box-bh-two-boxes-th {
    grid-template:
        "a b"
        "c c";  
}

.card-layout-one-box-bh-two-boxes-th *:nth-child(1) {
    grid-area: a;
}
.card-layout-one-box-bh-two-boxes-th *:nth-child(2) {
    grid-area: b;
}
.card-layout-one-box-bh-two-boxes-th *:nth-child(3) {
    grid-area: c;
}

.card-layout-one-box-th-two-boxes-bh {
    grid-template:
        "a a"
        "b c";
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}

.card-layout-one-box-th-two-boxes-bh *:nth-child(1) {
    grid-area: a;
}
.card-layout-one-box-th-two-boxes-bh *:nth-child(2) {
    grid-area: b;
}
.card-layout-one-box-th-two-boxes-bh *:nth-child(3) {
    grid-area: c;
}

.card-layout-one-box-lv-two-boxes-rv {
    grid-template:
        "a b" auto
        "a c" auto;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}

.card-layout-one-box-lv-two-boxes-rv *:nth-child(1) {
    grid-area: a;

}
.card-layout-one-box-lv-two-boxes-rv *:nth-child(2) {
    grid-area: b;
}
.card-layout-one-box-lv-two-boxes-rv *:nth-child(3) {
    grid-area: c;
}

.card-layout-one-box-rv-two-boxes-lv {
    grid-template:
        "a b"
        "c b";
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}

.card-layout-one-box-rv-two-boxes-lv *:nth-child(1) {
    grid-area: a;
}
.card-layout-one-box-rv-two-boxes-lv *:nth-child(2) {
    grid-area: b;
}
.card-layout-one-box-rv-two-boxes-lv *:nth-child(3) {
    grid-area: c;
}

.card-layout-four-boxes {
    grid-template:
        "a b" 
        "c d";
    grid-template-columns: calc(50% - 0.5rem) calc(50% - 0.5rem);
    grid-template-rows: calc(50% - 0.5rem) calc(50% - 0.5rem);
}

.flashcard-face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
    backface-visibility: hidden;
    border: 1px solid var(--bs-dark);
    border-radius: 25px;
    padding: 1rem;
}

.flashcard-front-face-rotated {
    transform: rotateY(180deg);
}

.flashcard-back-face-rotated {
    transform: rotateY(-180deg);
}

