@use "./Color";
@use "./GenericButtons";
@use "./DropdownMenu.scss";
@use "./text_editor_bar.scss";
@use "./Navbar";

:root {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    --flashcard-fg-primary: Color.$flashcard-dark;
    
    --flashcard-bg-primary: Color.$flashcard-bg-light;
    --flashcard-bg-secondary: Color.$flashcard-light;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --flashcard-fg-primary: Color.$flashcard-light;

        --flashcard-bg-primary: Color.$flashcard-bg-dark;
        --flashcard-bg-secondary: Color.$flashcard-dark;
    }
}

















.flashcard-display {
    min-width: calc(100vw / 3);
    aspect-ratio: 5 / 3;
    padding: 1rem;
    max-width: 960px;
    margin: auto;
}

// @media screen and (prefers-color-scheme: dark) {

//     body {
//         --bs-body-color: var(--bs-light);
//         --bs-body-bg: var(--bs-gray-700);
//     }

//     .dropdown-menu {
//         --bs-body-bg: rgb(110, 110, 120);
//         --bs-body-color: var(--bs-light);
//         --bs-dropdown-border-color: var(--bs-light);
//         --bs-dropdown-divider-bg: var(--bs-light);
//         --bs-dropdown-link-hover-bg: var(--flashcard-dark);
//         --bs-dropdown-link-active-bg: var(--flashcard-dark);
//         --bs-dropdown-link-disabled-color: var(--flashcard-light-disabled);
//     }

//     .flashcard-button {
//         --bs-btn-color: var(--bs-light);
//         --bs-btn-bg: rgba(255, 255, 255, 0);
//         --bs-btn-border-color: var(--bs-light);
//         --bs-btn-hover-color: var(--bs-light);
//         --bs-btn-hover-bg: var(--flashcard-dark);
//         --bs-btn-hover-border-color: var(--bs-light);
//         --bs-btn-focus-shadow-rgb: var(--flashcard-dark);
//         --bs-btn-active-color: var(--bs-light);
//         --bs-btn-active-bg: var(--flashcard-dark);
//         --bs-btn-active-border-color: var(--bs-light);
//         --bs-btn-active-shadow: inset 0 3px 5px var(--flashcard-dark);
//         --bs-btn-disabled-color: var(--bs-light);
//         --bs-btn-disabled-bg: var(--flashcard-dark);
//         --bs-btn-disabled-border-color: var(--bs-light);
//     }

//     .flashcard-button:disabled {
//         background-color: $flashcard-dark;
//     }

//     .flashcard-display {
//         border-color: var(--flashcard-light);
//     }

//     .modal-content {
//         color: var(--bs-light);
//         background-color: var(--bs-dark);
//     }
// }

.user-select-none {
    user-select: none;
}